# Numpy arrays to compare to Psi4Numpy code
ccsd_lpno/*.npy

# Pycache
ccsd_lpno/__pycache__/*

*.pyc

# data files
h2n/*.json
h2n/*.png
h2n/*.dat
h2n/mp2_correction/*.dat
h2n/mp2_correction/*.json

# docs that aren't ready
docs/build/*

timer.dat

tests/timer.dat

# outfiles that are not relevant
*.out
